.citate {
	padding-top: 89px;
	padding-bottom: 80px;
	.md-block({
		padding-top: 46px;
		padding-bottom: 60px;
	});

	&__content {
		.row-flex();
		align-items: center;
	}

	&__info {
		.col();
		.size(7);
		.size-md(12);

		font-size: 20px;
		line-height: 30px;
		.md-block({
			font-size: 16px;
			line-height: 24px;
		});

		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__text {
		.col();
		.size(5);
		.size-md(12);
		position: relative;
		padding-left: 60px;
		// padding-right: 30px;

		font-size: 30px;
		line-height: 40px;
		.md-block({
			order: -1;
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 26px;
		});

		&::before, &::after {
			position: absolute;
			color: @accent;
			font-size: 200px;
			.md(font-size, 30px);
		}

		&::before {
			content: '\00ab';
			top: 0;
			left: -105px;
			.md-block({
				left: 0;
			});
		}

		&::after {
			content: '\00bb';
			right: -5px;
			bottom: -11px;
			.md-block({
				right: 0;
			});
		}

		span {
			font-weight: 700;
			display: block;
		}
	}
}