.citate {
	padding-top: 89px;
	padding-bottom: 80px;
	.md-block({
		padding-top: 46px;
		padding-bottom: 60px;
	});

	&__content {
		.row-flex();
		align-items: center;
	}

	&__info {
		.col();
		.size(7);
		.size-lg(6);
		.size-md(12);

		font-size: 20px;
		line-height: 30px;
		.md-block({
			font-size: 16px;
			line-height: 24px;
		});

		p:not(:last-child) {
			margin-bottom: 20px;
			.md(margin-bottom, 10px);
		}
	}

	&__text {
		.col();
		.size(5);
		.size-lg(6);
		.size-md(12);
		position: relative;
		padding-left: 60px;
		padding-right: 10px;

		font-size: 30px;
		line-height: 40px;
		.md-block({
			order: -1;
			margin-bottom: 30px;
			padding-left: 20px;
			padding-right: 5px;
			font-size: 18px;
			line-height: 26px;
		});

		&::before, &::after {
			position: absolute;
			color: @accent;
			// font-size: 200px;
			// .md(font-size, 60px);
			width: 75px;
			height: 80px;
			.md-block({
				width: 16px;
				height: 23px;
			});
		}

		&::before {
			content: '';
			background: url(../img/arrow-left.svg) no-repeat;
			top: 0;
			left: -36px;
			.md-block({
				left: -10px;
				background: url(../img/arrow-left-mob.svg) no-repeat;
			});
		}

		&::after {
			content: '';
			background: url(../img/arrow-right.svg) no-repeat;
			right: -15px;
			bottom: -40px;
			.md-block({
				right: -8px;
				bottom: -8px;
				background: url(../img/arrow-right-mob.svg) no-repeat;
			});
		}

		span {
			font-weight: 700;
			display: block;
		}
	}
}