// USER VARIABLES SECTION

@accent: #00CBA6; // Accent Color
@fontsize: 16px; // Body Font Size
@lineheight: 1.65; // Document Line Height
@textcolor: #222222; // Text Color
@white: #ffffff;
@beige: #BC9B77;


@userfont: 'pt_root_ui', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.font(@fname, @fstyle, @fweight, @furl) {
	@font-face {
		font-family: @fname;
		font-style: @fstyle;
		font-weight: @fweight;
		src: url(@furl) format('woff2');
	}
}

.font('pt_root_ui', normal, 300, '../fonts/pt_root_ui_light.woff2');
.font('pt_root_ui', normal, 400, '../fonts/pt_root_ui_regular.woff2');
.font('pt_root_ui', normal, 700, '../fonts/pt_root_ui_bold.woff2');

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

::placeholder {
	color: #666;
}

::selection {
	background-color: @accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

html {
	// scroll-behavior: smooth;
}

body {
	font-family: @userfont;
	font-size: @fontsize;
	font-weight: 300;
	line-height: @lineheight;
	color: @textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

.section__title {
	font-size: 60px;
	line-height: 60px;
	font-weight: 300;
	.md-block({
		font-size: 30px;
		line-height: 36px;
	});
}

.arrowUpBtn {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 36px;
	height: 36px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 5px @white;
	opacity: 0.5;
	cursor: pointer;
	z-index: 100;
	transition: opacity 0.2s;
	background: @white no-repeat url(../img/up-button.svg) center/contain;

	&:hover {
			opacity: 1;
	}
}